.features
    background-color: #FFFFFF
    &-text
        margin: 50px auto 50px 80px
        font-family: Inter
        font-size: 32px
        font-weight: 700
        line-height: 32px
    &-wrapp
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows: repeat(2, 1fr)
        position: relative
        &:hover
            transform: translateY(0)

