.featuresitem
    background-color: #FFCA28
    position: relative
    &-img
        object-fit: cover
        overflow: hidden
        z-index: 0
    &-title
        font-family: Inter
        font-size: 28px
        font-weight: 500
        line-height: 34px
        text-align: left
        color: #FFFFFF
        position: absolute
        z-index: 10
        bottom: 47px
        padding-left: 31px
        padding-right: 31px
