.header 
    background-color: #FFFFFF
    height: 80px
    display: flex
    font-display: auto
    align-items: center

.logo
    margin-left: 81px

.navigation 
    display: flex
    align-content: center
    align-items: center
    color: #000000
    margin-left: 300px
    margin-top: 15px
    margin-bottom: 16px

.navigation-list 
    display: flex
    gap: 10px